.btn-registrati{
      width: 100%;
  padding: 12px;
  border-radius: 8px;
  background-color: #000000;
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}
.btn-registrati:hover {
  background-color: #222222;
}
.btn-chiudi{
          width: 100%;
  padding: 12px;
  border-radius: 8px;
  background-color: #5b4040;
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}
.btn-chiudi:hover{
      background-color: #e7e4e4;
    color:#5b4040;
}

.modal-title{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
/* Etichette degli input */
.form-label {
  font-weight: 600 !important;
  font-size: 0.95rem;
  font-family: 'Roboto';
  display: inline-block;
  color: #000000 !important;
  margin-bottom: 20px !important;
  font-weight: 400;
}
.modal-content {
  background-color: #03e70e;
 color: #000000;
  border: none;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15); /* Ombra morbida moderna */
  padding: 24px;
  overflow: hidden;
}
.modal-header {
  border-bottom: none;
  padding: 0 0 16px 0;
  text-align: center;
  display: block; /* Assicura la centratura del titolo */
}
.titolo{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}